<section class="d-dropdown" id="site-map-dropdown">
  <ul class="location-links">
    {{#if showAdminLinks}}
      <li>{{partial "siteMap/adminLink"}}</li>
      <li>{{partial "siteMap/flaggedPostsLinks"}}</li>
    {{/if}}
    <li>{{partial "siteMap/latestTopicsLink"}}</li>
    <li>{{partial "siteMap/faqLink"}}</li>
    {{#if showMobileToggle}}
      <li>{{partial "siteMap/mobileToggleLink"}}</li>
    {{/if}}
  </ul>
</section>
