<td>
  <div class='creator'>
    {{avatar creator imageSize=50}}
    <div class='name'>{{creator.username}}</div>
    <a href="{{lastUnreadUrl}}" class='last-unread-link'>{{title}}</a>
  </div>


  <div class='post-count'>{{number posts_count numberKey="posts_long"}}</div>
</td>
